* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #222831;
  font-family: "Roboto", sans-serif;
}
.app {
  display: flex;
  margin-top: 50px;
  /* justify-content: center */
  flex-direction: column;
}
.addTask {
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 20px;
}

form {
  display: flex;
  width: 400px;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  padding: 20px 50px;
  color: white;
}
.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.MuiInputBase-input {
  color: white !important;
}
.refreshIcon {
  position: fixed;
  top: 1%;
  left: calc(100% - 2%);
  cursor: pointer;
}
